#calendarContainer {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

#calendarWrapper {
    zoom: 1;
    cursor: pointer;
}

#calendarButton {
    padding: 5px;
    background-color: #f9f9f9;
    border: 1px solid darkorange;
    border-radius: 3px;
    align-self: center;
}