#calendarContainer {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    margin-top: 2px;
    margin-bottom: 3px;
    align-self: center;
}

#calendarWrapper {
    zoom: 1;
    cursor: pointer;
}

#calendarButton {
    padding: 5px;
    background-color: #f9f9f9;
    border: 1px solid darkorange;
    border-radius: 3px;
    align-self: center;
}

.react-add-to-calendar__dropdown {
    text-align: left;
}

.react-add-to-calendar__dropdown ul {
    list-style: none;
    text-align: left;
}
.react-add-to-calendar__dropdown ul li a {
    color: darkorange;
    text-decoration: underline;
}
