
#absenceItem {
    display: flex;
    flex-direction: column;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 100%;
}

#absenceLabel {
    display: flex;
    margin-bottom: 2px;
    margin-left: 10px;
    font: 700 14px Roboto;
}

#absence{
    display: flex;
    margin-left: 10px;
    margin-bottom: 2px;
    font-style: italic;
}

#teste {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
}