@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px Roboto, sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

input, button, textarea {
    font: 400 18px Roboto, serif;
}

button {
    cursor: pointer;
}

.button {
    background-color: darkorange;
    border: 0;
    border-radius: 5px;
    color: #FFF;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    transition: 0.5s;
}

.button:hover {
    background-color: rgb(243, 131, 2);
}

/*Custom Scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border-radius: 10px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: darkorange;
    border-radius: 10px;
}