#listAllAbsences {
    width: 50%;
    height: 500px;
    background-color: #ffffff;
    overflow-y: scroll;
    margin: 40px 20px 20px 10%;
    border: darkorange;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    padding: 5px;
}